@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.mv_accordion {
	/* border: 1px solid #6b9638; */
	border-top: 1px solid #e6e6e6; /*rgba(158, 158, 158, 0.26) */
	/* width:  50%; */
}
.mv_accordion li h3 a {
	background:            #8BC34A;
	/* background:             #666 -webkit-gradient(linear, left top, left bottom, from(#999), to(#666)) no-repeat;
	background:             #666 -moz-linear-gradient(top,  #999,  #666) no-repeat;*/
	border-bottom:          1px solid #fff;
	/* border-top:             1px solid #fff;   */
	color:   #fff;
	display:   block;
	font-style:   normal;
	margin:  0;
	padding: 5px 10px;
	border-radius: 10px 0 0 0;
	/*     text-shadow:            0 -1px 2px #333, #ccc 0 1px 2px; */
}
.mv_accordion li.active h3 a {
	background:    #6b9638;
	/*  background:             #369 -webkit-gradient(linear, left top, left bottom, from(#69c), to(#369)) no-repeat;
		background:             #369 -moz-linear-gradient(top,  #69c,  #369) no-repeat;
		border-bottom:          1px solid #036;
	border-top:             1px solid #9cf; */
	/*  text-shadow:            0 -1px 2px #036, #9cf 0 1px 2px; */
}
.mv_accordion li.locked h3 a {
	background:   #963;
	background:   #963 -webkit-gradient(linear, left top, left bottom, from(#c96), to(#963)) no-repeat;
	background:   #963 -moz-linear-gradient(top,  #c96,  #963) no-repeat;
	border-bottom:   1px solid #630;
	border-top:    1px solid #fc9;
	text-shadow:   0 -1px 2px #630, #fc9 0 1px 2px;
}
.mv_accordion li h3 {
	margin:         0;
	padding:       0;
}
.mv_accordion .panel {
	padding:        10px;
	height: 100%;
	border-bottom: 1px solid #e6e6e6;
}

ul.mv_accordion,
ol.mv_accordion {
    margin:             0;
    padding:            0;
}
.mv_accordion li {
    list-style-type:    none;
    margin:             0;
    padding:            0;
}
.mv_accordion li:after {
	content:        ".";
	display:        block;
	height:         0;
	clear:          both;
	visibility:     hidden;
	zoom:          1;
}
.mv_accordion li li {
    list-style-type:    disc;
    margin-left:        1em;
}
.mv_accordion a {
    color:              inherit;
    text-decoration:    inherit;
}

/* 
	!!!!!!!!!!!!!!!!!!!! 
	MV классы для списка 
	!!!!!!!!!!!!!!!!!!!!
*/

/* !!!!!!!!!!!!!!!!!!!!! MV классы  для шапки аккардеона !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.mv_handle {
    background: #fff;
	/* border-top: 1px solid #e6e6e6; */
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
}

/* Стиль первой части шапки аккардеона иконка чека, номер заказа, ФИО */
.mv_header_1{
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    /* color: #416960; */
	white-space: nowrap; /* запрет переноса */
    overflow: hidden;
}

/* Стиль второй части шапки аккардеона блоки иконок индикаторов*/
.mv_header_2 {
    vertical-align: middle;
}
/* стиль текстового абзаца второго блока */
.mv_header_2_content{
	vertical-align: middle; /* бесполезно p - block element */
	text-align: right;
}
/* Стиль третей части шапки аккардеона сумма и даты */
.mv_header_3 {
    font-style: normal;
    font-weight: bold;	
    vertical-align: middle;
	text-align: right;
    margin: 0;
	padding: 0;
}
.mv_date {
    font-style: normal;
    font-weight: normal;	
}

.mv_accordion-opener {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}


/* Проставляем стрелочки  вниз и вверх  */
.mv_accordion-opener:after {
    content: "\f13a";
    font-family: FontAwesome;
    font-style: normal;
	color: #29b28f;
	/* color: #91bfb4; */ /* #dfe0e3 #7d9c95 */
    font-weight: normal;
    position: absolute;
    display: block;
} 

.active .mv_accordion-opener:after {
	content: "\f139";
    font-family: FontAwesome;
    font-style: normal;
	color: #03A9F4;  /* #67bd98; #29b28f */
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
} 

.mv_accordion-opener:hover {
	background-color: #f6f7f8; /* #f9f9f9 #f0faf7 #e6f8ee; #f2f3f5  color #5c6566*/
	
} 

.mv_img_label {
    padding: 0;
	vertical-align: middle;
}

.mv_img_indicators {
    padding: 0;
	vertical-align: middle;
}

/* Стили для элементов Дополнительных параметров отчета */
input.mv_input_order_number {
	width: 100%;	
}
/*  стили для кнопок Найти и Очистить */
#mv_find_number{
	margin: 5px 0 0 0;
	width: 100%;
}
#mv_clear_number{
	margin: 5px 0;
	width: 100%;
}

.mv_report_addition_param  {
	vertical-align: baseline;
}

/* !!!!!!!!!!!!!!!!!!!!! MV классы  для таблицы блока данных !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
.panel {
	background: #f9f9f9; /* светло-зеленый #f5faf5 */
}
.mv_132_report_table {
	width: 100%;
	border: none;
}
.mv_132_report_table td{
	padding: 0.3rem 10px;
}

.mv_132_rt_border_top {
	border-top: 1px dotted #ccc;
}

.mv_132_datatable_header {
	background: #29b28f;
	border: none;
	color: #fff;
	font-weight: bold;
	
	/* border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc; */ 
	
}
/* стили столбца с иконками */
.mv_icon_row {
	width: 7%;
	text-align: center;
	vertical-align: middle;
	border: none;
	
}
/* стиль строки итоговой суммы */
.mv_132_datatable_total {
	
	background: #29b28f;
	border: none;
	color: #fff;
	/* font-size: 18px; */
	text-transform: uppercase;
	font-weight: bold;
	
	/* border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc; */ 
	
}

/* классы выравниватели */
.mv_align_right{
	text-align: right;
}
.mv_align_center {
	text-align: center;
}


.mv_132_rt_padding_top {
	padding-top: 15px;
}
.mv_small {
	font-size: 10px;
	color: #29b28f;
}

a.mv_link_to_another_report{
    color: #2196F3;
    text-decoration: underline;
    cursor: pointer;
}
/* 
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	Медиаклассы для мобильных экранов 
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/


/* Medium devices -md (desktops, 992px and up - @screen-md-min) */
@media (min-width: 992px) {
	.mv_accordion-opener {
		height: 70px;
	}
	
	/* Проставляем стрелочки  вниз и вверх  */
	.mv_accordion-opener:after {
		top: 20px;
		right: 18px;
	} 
	
	.active .mv_accordion-opener:after {
		top: 20px; 
		right: 18px;
	}
	.mv_img_label {
		height: 50px;
		line-height: 70px;
		padding-left: 10px;		
	}
	
	.mv_img_indicators {
		height: 22px;
		line-height: 70px;
	}
	
	.mv_handle {
		height: 70px;
		margin: 0;
		padding: 0;
	}	
	
	
	/* Стиль первой части шапки аккардеона иконка чека, номер заказа, ФИО */
	.mv_header_1{
		font-size: 16px;
		line-height: 70px;
	}
	.mv_header_1 span {
		font-size: 15px;
	}
	
	/* Стиль второй части шапки аккардеона блоки иконок индикаторов*/
	.mv_header_2 {
		height: 70px;
	}
	/* стиль текстового абзаца второго блока */
	.mv_header_2_content{
		line-height: 70px;
	}
	/* Стиль третей части шапки аккардеона сумма и даты */
	.mv_header_3 {
		height: 70px;
		font-size: 16px;
		padding-top: 18px;
		padding-right: 50px;
		line-height: 20px;
		
		
	}
	.mv_date {
		font-size: 12px;
	}
	
}

/* Large devices -lg (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
	.mv_img_indicators {
		height: 25px;
		line-height: 70px;
	}
	
	/* Стиль первой части шапки аккардеона иконка чека, номер заказа, ФИО */
	.mv_header_1{
		font-size: 20px;
		line-height: 70px;
	}
	.mv_header_1 span {
		font-size: 18px;
	}
	
	/* Стиль второй части шапки аккардеона блоки иконок индикаторов*/
	.mv_header_2 {
		height: 70px;
		padding: 0;
		margin: 0;
	}
	/* стиль текстового абзаца второго блока */
	.mv_header_2_content{
		line-height: 70px;
	}
	/* Стиль третей части шапки аккардеона сумма и даты */
	.mv_header_3 {
		margin: 0;
		padding: 0;		
		padding-top: 18px;
		padding-right: 50px;
		height: 70px;
		font-size: 18px;
		line-height: 20px;
	}
	
	.mv_date {
		font-size: 12px;
	}
}

/* Small devices -sm (tablets, 768px and up) */
@media (max-width: 991px) {
	
	.mv_handle {
		height: 60px;
	}	
	
	.mv_accordion-opener {
		height: 60px;
	}
	
	/* Проставляем стрелочки  вниз и вверх  */	
	.active .mv_accordion-opener:after, .mv_accordion-opener:after {
	    top: 16px;
		right: 18px;
	}
	.mv_accordion .panel {
		font-size: 15px;	
	}
	
	.mv_img_label {
		height: 45px;
		line-height: 60px;
		padding: 0 5px 0 10px;		
	}
	
	.mv_img_indicators {
		height: 22px;
		line-height: 60px;
	}
	
	/* Стиль первой части шапки аккардеона иконка чека, номер заказа, ФИО */
	.mv_header_1{
		font-size: 16px;
		line-height: 60px;
	}
	.mv_header_1 span {
		font-size: 16px;
	}
	
	/* Стиль второй части шапки аккардеона блоки иконок индикаторов*/
	.mv_header_2 {
		height: 60px;
	}
	/* стиль текстового абзаца второго блока */
	.mv_header_2_content{
		line-height: 60px;
	}
	/* Стиль третей части шапки аккардеона сумма и даты */
	.mv_header_3 {
		height: 60px;
		font-size: 18px;
		padding: 0;
		padding-right: 50px;
		line-height: 20px;
		padding-top: 10px;
		
	}
	.mv_date {
		font-size: 12px;
	}	
	
}


/* Extra small devices -xs (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px) {
	
	.mv_icon_row {
		width: 50px;
	}
	.mv_handle {
		height: 90px;
	}	
	
	.mv_accordion-opener {
		height: 90px;
	}
	.mv_img_label {
		height: 40px;
		line-height: 45px;
		padding: 0 5px 0 10px;		
	}
	
	/* Проставляем стрелочки  вниз и вверх  */	
	.active .mv_accordion-opener:after, .mv_accordion-opener:after {
	    top: 10px;
		right: 10px;
	}
	.mv_accordion .panel {
		font-size: 15px;	
	}
	
	.mv_img_indicators {
		height: 22px;
		line-height: 45px;
	}
	
	/* Стиль первой части шапки аккардеона иконка чека, номер заказа, ФИО */
	.mv_header_1{
		font-size: 16px;
		line-height: 45px;
		border-right: 30px solid rgba(255, 255, 255, 0);
	}
	.mv_header_1 span {
		font-size: 16px;
	}
	
	/* Стиль второй части шапки аккардеона блоки иконок индикаторов*/
	.mv_header_2 {
		height: 45px;
	}
	/* стиль текстового абзаца второго блока */
	.mv_header_2_content{
		line-height: 45px;
		text-align: left;
		padding-left: 20px;		
	}
	/* Стиль третей части шапки аккардеона сумма и даты */
	.mv_header_3 {
		height: 45px;
		font-size: 20px;
		padding: 0;
		padding-right: 10px;
		line-height: 20px;
		
		
	}
	.mv_date {
		font-size: 12px;
	}	
	
}

@media (max-width: 414px ){	/* 414px*/
	/* отступы в ячейакх таблицы данных */
	.mv_132_report_table td {
		padding: 0.3rem 3px;
		line-height: 17px;
	}
	.mv_icon_row {
		width: 50px;
	}
	.mv_handle {
		height: 64px;
	}	
	
	.mv_accordion-opener {
		height: 64px;
		font-size: 12px;
	}
	
	/* Проставляем стрелочки  вниз и вверх  */	
	.active .mv_accordion-opener:after, .mv_accordion-opener:after {
	    top: 4px;
		right: 5px;
	}
	.mv_accordion .panel {
		font-size: 12px;
		padding: 0px;	
	}
	
	.mv_img_label {
		height: 27px;
		line-height: 32px;
		padding: 0;
		padding-left: 5px;		
	}
	
	.mv_img_indicators {
		height: 20px;
		line-height: 32px;
	}
	
	/* Стиль первой части шапки аккардеона иконка чека, номер заказа, ФИО */
	.mv_header_1{
		font-size: 12px;
		line-height: 32px;
		border-right: 27px solid rgba(255, 255, 255, 0);
	}
	.mv_header_1 span {
		font-size: 12px;
	}
	
	/* Стиль второй части шапки аккардеона блоки иконок индикаторов*/
	.mv_header_2 {
		height: 32px;
	}
	/* стиль текстового абзаца второго блока */
	.mv_header_2_content{
		line-height: 32px;
		text-align: left;
		padding-left: 8px;		
	}
	/* Стиль третей части шапки аккардеона сумма и даты */
	.mv_header_3 {
		height: 32px;
		font-size: 16px;
		padding: 0;
		padding-right: 10px;
		line-height: 12px;
		
		
	}
	.mv_date {
		font-size: 11px;
	}	
	
}

/* / Медиаклассы для мобильных экранов */	